<div class="card">
  <div class="card-header">
    <h3>Sales Details</h3>
  </div>
  <div class="card-body">
    <span><strong>Invoice:</strong> {{salesDetails.invoiceNo}} </span> <br>
    <span><strong>Sales Date :</strong> {{salesDetails.createDate | date : 'medium'}} </span> <br>
    <span><strong>Discount % :</strong> {{salesDetails.discountPercentage}} </span> <br>
    <span><strong>Discount Taka :</strong> {{salesDetails.discountTaka}} </span> <br>
    <span><strong>Total Taka :</strong> {{salesDetails.totalTaka}} </span> <br>
    <span><strong>Grand Total :</strong> {{salesDetails.grandTotal}} </span> <br>
  </div>

  <table>
    <thead>
      <tr>
        <th scope="col">SL</th>
        <th scope="col">manufacturerName</th>
        <th scope="col">brandName</th>
        <th scope="col">quantity</th>
        <th scope="col">salesPrice</th>
        <th scope="col">grandTotal</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let data of salesDetails.salesDetails; let i = index;">
        <td data-label="SL">{{i+1}}</td>
        <td data-label="manufacturerName">{{data.manufacturerName}}</td>
        <td data-label="brandName">{{data.brandName}}</td>
        <td data-label="quantity">{{data.quantity}}</td>
        <td data-label="salesPrice">{{data.salesPrice}}</td>
        <td data-label="grandTotal">{{data.grandTotal}}</td>

      </tr>
    </tbody>
  </table>
  <div class="card-footer text-body-secondary">
    <button class="btn btn-info btn-sm" (click)="salesList()">Sales List</button>
  </div>
</div>