<table>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Post By</th>
            <th scope="col">Post Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let med of postList">
            <td data-label="Title">{{med.title}}</td>
            <td data-label="Description" [innerHTML]="med.description | slice: 0: 80"></td>
            <td data-label="Thumbnail">
                <img src="{{imageUrl}}{{med.featuredImage}}" width="150">
            </td>
            <td data-label="Image">
                <img src="{{imageUrl}}{{med.image}}" width="200">
            </td>
            <td data-label="Category">{{med.category}}</td>
            <td data-label="Post By">{{med.users}}</td>
            <td data-label="Post Date">{{med.createDate | date}}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="productDetails(med)">Details</button> |
                <button class="btn btn-success btn-sm" (click)="editPost(med)">Edit</button>
                <!-- <button class="btn btn-danger btn-sm">Delete</button> -->
            </td>
        </tr>
    </tbody>
</table>