<!-- <h1>Welcome To Dashboard</h1> -->
<div class="card-for-board">

    <div class="card-single bg-dark  ">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>TODAY SALE</span>
                    <small></small>
                </div>
                <h2>{{TodayMonthlyAndYearlySalesReport.today}} TK</h2>
                <small></small>
            </div>
            <div class="card-chart">
                <span class="las la-chart-line"></span>
            </div>
        </div>
    </div>

    <div class="card-single bg-info ">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>MONTHLY SALE</span>
                    <small></small>
                </div>
                <h2>{{TodayMonthlyAndYearlySalesReport.monthly}} TK</h2>
                <small></small>
            </div>
            <div class="card-chart">
                <span class="las la-chart-line"></span>
            </div>
        </div>
    </div>

    <div class="card-single bg-success ">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>YEARLY SALE</span>
                    <small></small>
                </div>
                <h2>{{TodayMonthlyAndYearlySalesReport.yearly}} TK</h2>
                <small></small>
            </div>
            <div class="card-chart">
                <span class="la la-chart-line"></span>
            </div>
        </div>
    </div>

    <div class="card-single bg-primary">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>TOTAL STOCK MEDICINE</span>
                    <small></small>
                </div>
                <h2>{{TodayMonthlyAndYearlySalesReport.totalStock}} ITEM</h2>
                <small></small>
            </div>
            <div class="card-chart">
                <span class="la la-chart-line"></span>
            </div>
        </div>
    </div>
</div>
<!-- <br> -->
<hr>
<div class="row">
    <div class="col-md-8">
        <canvas baseChart type="bar" [data]="lineChartData" [options]="barChartOptions"> </canvas>
    </div>
    <div class="col-md-4">

        <div class="card">
            <h5 class="card-header">
                <select (change)="onSelectionChange($event)" class="form-control">
                    <option *ngFor="let item of items" [value]="item.id">{{ item.name }}</option>
                </select>
            </h5>
            <div class="card-body">
                  <ul class="list-group list-group-flush" *ngFor="let med of medList">
                    <li class="list-group-item">{{med.topRank}} | {{med.brandName}} | {{med.grandTotal}} | {{med.manufacturerName}}</li>
                </ul>
            </div>
        </div>

    </div>
</div>
<hr>