<!-- <h1>Welcome To Dashboard</h1> -->
<div class="card">
    
    <div class="card-single bg-dark  ">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>TODAY SALE</span>
                    <small>Number of Purchases</small>
                </div>
                <h2>$ 17,663</h2>
                <small>2% Less Purchase</small>
            </div>
            <div class="card-chart">
                <span class="las la-chart-line"></span>
            </div>
        </div>
    </div>

    <div class="card-single bg-info ">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>MONTHLY SALE</span>
                    <small>Number of Purchases</small>
                </div>
                <h2>$ 17,663</h2>
                <small>2% Less Purchase</small>
            </div>
            <div class="card-chart">
                <span class="las la-chart-line"></span>
            </div>
        </div>
    </div>

    <div class="card-single bg-primary">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>TOTAL STOCK MEDICINE</span>
                    <small>Number of Purchases</small>
                </div>
                <h2>17,663</h2>
                <small>2% Less Purchase</small>
            </div>
            <div class="card-chart">
                <span class="la la-chart-line"></span>
            </div>
        </div>
    </div>
    
    <div class="card-single bg-success ">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>LIFETIME SALE</span>
                    <small>Number of Purchases</small>
                </div>
                <h2>17,663</h2>
                <small>2% Less Purchase</small>
            </div>
            <div class="card-chart">
                <span class="la la-chart-line"></span>
            </div>
        </div>
    </div>

</div>

